<html>
<head>
  <script>
    $(function(){
      html2.init();
    });
  </script>
  <div class="col-sm-9">
    <div class="container">
      <h2>HTML2 page</h2>
      <button type="button" id="btn" class="btn btn-success">Success</button>
      <table class="table table-striped" id="cust_tb">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>
</head>
<body>

</body>
</html>